{{page-toolbar pageTitle="Checkbox" isDemo=true}}

{{#doc-content}}
  {{! BEGIN-SNIPPET checkbox }}
  <div class="layout-column">
    {{#o-checkbox value=value1 onChange=(action (mut value1))}}
      A checkbox: {{value1}}
    {{/o-checkbox}}

    {{#o-checkbox value=value2 onChange=(action (mut value2))}}
      A checkbox: {{if value2 "yep" "nope"}}
    {{/o-checkbox}}

    {{#o-checkbox value=value3 onChange=(action (mut value3)) disabled=true}}
      Checkbox (disabled)
    {{/o-checkbox}}

    {{#o-checkbox value=true onChange=(action (mut value4)) disabled=true}}
      Checkbox (disabled and value)
    {{/o-checkbox}}

    {{#o-checkbox value=value5 onChange=(action (mut value5)) noink=true}}
      Checkbox (no ink)
    {{/o-checkbox}}

    {{o-checkbox label="Blockless version" value=value6 onChange=(action "toggleValue6")}}

    {{#o-checkbox indeterminate=isIndeterminate value=value7 onChange=(action (mut value7))}}
      Indeterminate checkbox
    {{/o-checkbox}}

    {{#o-checkbox disabled=true indeterminate=isIndeterminate value=value7 onChange=null}}
      Indeterminate checkbox (disabled)
    {{/o-checkbox}}
  </div>
  {{! END-SNIPPET }}

  <h3>Template</h3>
  {{code-snippet name="checkbox.hbs"}}

{{/doc-content}}
