{{page-toolbar pageTitle="List" isDemo=true}}

{{#doc-content}}

  {{#o-card}}
    {{#o-toolbar}}
      {{#o-toolbar-tools}}
        <h2>Basic Usage</h2>
      {{/o-toolbar-tools}}
    {{/o-toolbar}}
    {{#o-content}}
      {{! BEGIN-SNIPPET list }}
      {{#o-list}}
        {{#o-subheader}}3 line item{{/o-subheader}}
        {{#each listData as |item|}}
          {{#o-item class="md-3-line"}}
            <img src={{item.img}} alt={{item.name}} class="md-avatar">
            <div class="md-list-item-text">
              <h3>{{item.name}}</h3>
              <h4>{{item.email}}</h4>
              <p>Some longer notes here could be here. But they aren't.</p>
            </div>
          {{/o-item}}
        {{/each}}

        {{o-divider}}

        {{#o-subheader}}2 line item{{/o-subheader}}
        {{#each listData as |item|}}
          {{#o-item class="md-2-line"}}
            <img src={{item.img}} alt={{item.name}} class="md-avatar">
            <div class="md-list-item-text">
              <h3>{{item.name}}</h3>
              <p>{{item.email}}</p>
            </div>
          {{/o-item}}
        {{/each}}

        {{o-divider}}

        {{#o-subheader}}3 line item, long paragraph{{/o-subheader}}
        {{#each listData as |item|}}
          {{#o-item class="md-3-line md-long-text"}}
            <img src={{item.img}} alt={{item.name}} class="md-avatar">
            <div class="md-list-item-text">
              <h3>{{item.name}}</h3>
              <p>
                Secondary line text Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam massa quam.
                Nulla metus metus, ullamcorper vel, tincidunt sed, euismod in, nibh. Quisque volutpat condimentum
                velit. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos.
              </p>
            </div>
          {{/o-item}}
        {{/each}}

        {{o-divider}}

        {{#o-subheader}}Icons{{/o-subheader}}
        {{#each phoneNumbers as |phone|}}
          {{#o-item class="md-2-line"}}
            {{o-icon "phone" class="md-avatar-icon"}}
            <div class="md-list-item-text">
              <h3>{{phone.number}}</h3>
              <p>{{phone.type}}</p>
            </div>
          {{/o-item}}
        {{/each}}

      {{/o-list}}
      {{! END-SNIPPET }}
    {{/o-content}}
  {{/o-card}}

  <h3>Template</h3>
  {{code-snippet name="list.hbs"}}

  {{#o-card}}
    {{#o-toolbar}}
      {{#o-toolbar-tools}}
        <h2>List Controls</h2>
      {{/o-toolbar-tools}}
    {{/o-toolbar}}
    {{#o-content}}
      {{! BEGIN-SNIPPET list-controls }}
      {{#o-list}}

        {{#o-subheader}}Single Action Checkboxes{{/o-subheader}}
        {{#each toppings as |topping|}}
          {{#o-item as |controls|}}
            <p>{{topping.name}}</p>
            <div class="md-secondary-container">
              {{controls.checkbox
                value=topping.enabled
                secondary=true
                onChange=(action (mut topping.enabled))}}
            </div>
          {{/o-item}}
        {{/each}}

        {{o-divider}}

        {{#o-subheader}}Secondary Buttons{{/o-subheader}}
        {{#o-item as |controls|}}
          <p>Clicking the button to the right will fire the secondary action</p>
          <div class="md-secondary-container">
            {{#controls.button secondary=true onClick=(action "transitionTo" "more info")}}
              More Info
            {{/controls.button}}
          </div>
        {{/o-item}}
        {{#o-item onClick=(action "transitionTo" "primary action") as |controls|}}
          <p>Click anywhere to fire the primary action, or the button to fire the secondary</p>
          <div class="md-secondary-container">
            {{#controls.button secondary=true onClick=(action "transitionTo" "secondary action")}}
              More Info
            {{/controls.button}}
          </div>
        {{/o-item}}

        {{o-divider}}

        {{#o-subheader}}Clickable Items with Secondary Controls{{/o-subheader}}
        {{#o-item onClick=(action "transitionToWifiMenu") as |controls|}}
          {{o-icon "network-wifi"}}
          <p>Wi-Fi</p>
          <div class="md-secondary-container">
            {{controls.switch secondary=true value=wifiEnabled onChange=(action (mut wifiEnabled))}}
          </div>
        {{/o-item}}
        {{#o-item onClick=(action "transitionToBluetoothMenu") as |controls|}}
          {{o-icon "bluetooth"}}
          <p>Bluetooth</p>
          <div class="md-secondary-container">
            {{controls.switch secondary=true value=bluetoothEnabled onChange=(action (mut bluetoothEnabled))}}
          </div>
        {{/o-item}}
        {{#o-item onClick=(action "transitionToDataUsage")}}
          {{o-icon "data-usage"}}
          <p>Data Usage</p>
        {{/o-item}}

        {{o-divider}}

        {{#o-subheader}}Checkbox with Secondary Action{{/o-subheader}}
        {{#each messageData as |item|}}
          {{#o-item as |controls|}}
            {{controls.checkbox value=item.checked onChange=(action (mut item.checked))}}
            <p>{{item.message}}</p>
            <div class="md-secondary-container">
              {{#controls.button secondary=true iconButton=true onClick=(action "secondaryMessageClick" item)}}
                {{o-icon "message"}}
              {{/controls.button}}
            </div>
          {{/o-item}}
        {{/each}}

        {{o-divider}}

        {{#o-subheader}}Avatar with Secondary Action Icon{{/o-subheader}}
        {{#each listData as |item|}}
          {{#o-item onClick=(action "goToPerson" item) as |controls|}}
            <img src={{item.img}} alt={{item.name}} class="md-avatar">
            <p>{{item.name}}</p>
            <div class="md-secondary-container">
              {{controls.checkbox value=item.checked onChange=(action (mut item.checked))}}
              {{#controls.button secondary=true iconButton=true onClick=(action "secondaryMessageClick" item)}}
                {{o-icon "email"}}
              {{/controls.button}}
              {{#controls.button secondary=true iconButton=true onClick=(action "secondaryMessageClick" item)}}
                {{o-icon "message"}}
              {{/controls.button}}
            </div>
          {{/o-item}}
        {{/each}}

        {{o-divider}}

        {{#o-subheader}}Clickable Avatars{{/o-subheader}}
        {{#each listData as |item|}}
          {{#o-item class="md-3-line" onClick=(action "goToPerson" item)}}
            <img src={{item.img}} alt={{item.name}} class="md-avatar">
            <div class="md-list-item-text">
              <h3>{{item.name}}</h3>
              <h4>{{item.email}}</h4>
              <p>Some notes here.</p>
            </div>
          {{/o-item}}
        {{/each}}

        {{o-divider}}

        {{#o-subheader}}Avatar with Secondary Action Icon{{/o-subheader}}
        {{#each listData as |item|}}
          {{#o-item class="md-3-line" onClick=(action "goToPerson" item) as |controls|}}
            <img src={{item.img}} alt={{item.name}} class="md-avatar">
            <div class="md-list-item-text">
              <h3>{{item.name}}</h3>
              <h4>{{item.email}}</h4>
              <p>Some notes here.</p>
            </div>
            {{#controls.button secondary=true iconButton=true onClick=(action "secondaryPersonClick" item)}}
              {{o-icon "phone"}}
            {{/controls.button}}
          {{/o-item}}
        {{/each}}

        {{#o-subheader}}Single Action Radios{{/o-subheader}}
        {{#each toppings as |topping|}}
          {{#o-item as |controls|}}
            <p>{{topping.name}}</p>
            <div class="md-secondary-container">
              {{controls.radio
                groupValue=radioSelectedTopping
                value=topping
                secondary=true
                onChange=(action (mut radioSelectedTopping))}}
              </div>
          {{/o-item}}
        {{/each}}

      {{/o-list}}
      {{! END-SNIPPET }}
    {{/o-content}}
  {{/o-card}}

  <h3>Template</h3>
  {{code-snippet name="list-controls.hbs"}}

{{/doc-content}}



