{{page-toolbar pageTitle="Menu" isDemo=true}}

{{#doc-content}}


{{#o-card}}
  {{#o-toolbar}}
    {{#o-toolbar-tools}}
      <h2>Basic Usage</h2>
    {{/o-toolbar-tools}}
  {{/o-toolbar}}
  {{#o-card-content}}
    <h2>Simple dropdown menu</h2>

    <p>
      Note that applying the class <code class="paper">.md-menu-origin</code>
      and <code class="paper">md-menu-align-target</code>attributes ensure that the menu elements align.
    </p>

  <div class="layout-column layout-align-center-center">
  {{! BEGIN-SNIPPET menu.simple-dropdown }}
  {{#o-menu as |menu|}}
    {{#menu.trigger}}
      {{#o-button iconButton=true}}
        {{o-icon "local_phone"}}
      {{/o-button}}
    {{/menu.trigger}}
    {{#menu.content width=4 as |content|}}
      {{#each items as |item|}}
        {{#content.menu-item onClick="openSomething"}}
          {{o-icon item.icon}}
          <span>{{item.title}}</span>
        {{/content.menu-item}}
      {{/each}}

      {{#content.menu-item onClick="openSomething" disabled=true}}
        {{o-icon "adb"}}
        <span>This is disabled.</span>
      {{/content.menu-item}}

      {{o-divider}}

      {{#each items as |item|}}
        {{#content.menu-item onClick="openSomething"}}
          {{o-icon item.icon}} {{item.title}}
        {{/content.menu-item}}
      {{/each}}
    {{/menu.content}}
  {{/o-menu}}
  {{! END-SNIPPET }}
</div>

<h3>Template</h3>
{{code-snippet name="menu.simple-dropdown.hbs"}}

{{/o-card-content}}
{{/o-card}}

{{#o-card}}
{{#o-card-content}}
<h2>Menu Position Modes</h2>

<p>The <code class="paper">position</code> attribute can be used to specify the positioning along the
    <code class="paper">x</code> and <code class="paper">y</code> axis.</p>

<div class="layout-column layout-align-center-center">
  {{! BEGIN-SNIPPET menu.position-modes }}

  <div class="menus layout-fill layout-wrap layout-row layout-align-space-between-center">
    <div class="layout-column flex-33 flex-sm-100 layout-align-center-center">
      <p>Target Mode Positioning (default)</p>
      {{#o-menu isOpen=menuTwoIsOpen as |menu|}}
        {{#menu.trigger}}
          {{#o-button onClick=null iconButton=true}}
            {{o-icon "local_phone" class="md-menu-origin"}}
          {{/o-button}}
        {{/menu.trigger}}

        {{#menu.content as |content|}}
          {{#each items as |item|}}
            {{#content.menu-item onClick="openSomething"}}
              {{o-icon item.icon class="md-menu-align-target"}}
              <span>{{item.title}}</span>
            {{/content.menu-item}}
          {{/each}}
        {{/menu.content}}

      {{/o-menu}}
    </div>

    <div class="layout-column flex-33 flex-sm-100 layout-align-center-center">
      <p>Target mode with <code class="paper">offset</code></p>
      {{#o-menu isOpen=menuThreeIsOpen offset="0 -5" as |menu|}}
        {{#menu.trigger}}
          {{#o-button onClick=null iconButton=true}}
            {{o-icon "local_phone" class="md-menu-origin"}}
          {{/o-button}}
        {{/menu.trigger}}

        {{#menu.content as |content|}}
          {{#each items as |item|}}
            {{#content.menu-item onClick="openSomething"}}
              {{o-icon item.icon class="md-menu-align-target"}}
              <span>{{item.title}}</span>
            {{/content.menu-item}}
          {{/each}}
        {{/menu.content}}
      {{/o-menu}}
    </div>

    <div class="layout-column flex-33 flex-sm-100 layout-align-center-center">
      <p><code class="paper">position="target-right target"</code></p>
      {{#o-menu isOpen=menuFourIsOpen position="target-right target" as |menu|}}
        {{#menu.trigger}}
          {{#o-button onClick=null iconButton=true}}
            {{o-icon "local_phone" class="md-menu-origin"}}
          {{/o-button}}
        {{/menu.trigger}}

        {{#menu.content as |content|}}
          {{#each items as |item|}}
            {{#content.menu-item onClick="openSomething"}}
              <p style="width: 190px;">{{item.title}}</p>
              {{o-icon item.icon class="md-menu-align-target"}}
            {{/content.menu-item}}
          {{/each}}
        {{/menu.content}}
      {{/o-menu}}
    </div>
  </div>
  {{! END-SNIPPET }}
</div>


<h3>Template</h3>
<p>Use the <code class="paper">position</code> attribute to set where the menu should appear. The position attribute
should be used together with <code class="paper">.md-menu-origin</code> and <code class="paper">.md-menu-align-target</code>
classes to specify where it should position itself in respect to origin and align-target.
</p>

{{code-snippet name="menu.position-modes.hbs"}}

{{/o-card-content}}
{{/o-card}}



{{#o-card}}
{{#o-card-content}}
<h2>Different Widths</h2>

<p><code class="paper">o-menu-content</code> may specify a width attribute which will follow the
    <a href="http://www.google.com/design/spec/components/menus.html#menus-specs">official spec</a>.
</p>

<div class="layout-column layout-align-center-center">
  {{! BEGIN-SNIPPET menu.different-widths }}

  <div class="menus layout-fill layout-wrap layout-row layout-align-space-between-center">
    <div class="layout-column flex-33 flex-sm-100 layout-align-center-center">
      <p>Wide menu (<code class="paper">width=6</code>)</p>
      {{#o-menu as |menu|}}
        {{#menu.trigger}}
          {{#o-button onClick=null iconButton=true}}
            {{o-icon "local_phone" class="md-menu-origin"}}
          {{/o-button}}
        {{/menu.trigger}}

        {{#menu.content width=6 as |content|}}
          {{#each options as |item|}}
            {{#content.menu-item onClick=(action "openSomething")}}
              <span class="md-menu-align-target">Option</span> {{item}}
            {{/content.menu-item}}
          {{/each}}
        {{/menu.content}}
      {{/o-menu}}
    </div>

    <div class="layout-column flex-33 flex-sm-100 layout-align-center-center">
      <p>Medium menu (<code class="paper">width=4</code>)</p>
      {{#o-menu as |menu|}}
        {{#menu.trigger}}
          {{#o-button onClick=null iconButton=true}}
            {{o-icon "local_phone" class="md-menu-origin"}}
          {{/o-button}}
        {{/menu.trigger}}

        {{#menu.content width=4 as |content|}}
          {{#each options as |item|}}
            {{#content.menu-item onClick=(action "openSomething")}}
              <span class="md-menu-align-target">Option</span> {{item}}
            {{/content.menu-item}}
          {{/each}}
        {{/menu.content}}
      {{/o-menu}}
    </div>

    <div class="layout-column flex-33 flex-sm-100 layout-align-center-center">
      <p>Small menu (<code class="paper">width=2</code>)</p>
      {{#o-menu as |menu|}}
        {{#menu.trigger}}
          {{#o-button onClick=null iconButton=true}}
            {{o-icon "local_phone" class="md-menu-origin"}}
          {{/o-button}}
        {{/menu.trigger}}

        {{#menu.content width=2 as |content|}}
          {{#each options as |item|}}
            {{#content.menu-item onClick=(action "openSomething")}}
              <span class="md-menu-align-target">Option</span> {{item}}
            {{/content.menu-item}}
          {{/each}}
        {{/menu.content}}
      {{/o-menu}}
    </div>
  </div>
  {{! END-SNIPPET }}
</div>

<h3>Template</h3>
{{code-snippet name="menu.different-widths.hbs"}}

{{/o-card-content}}
{{/o-card}}

{{/doc-content}}
