{{page-toolbar pageTitle="Tooltip" isDemo=true}}

{{#doc-content}}

  {{#o-card}}
    {{#o-toolbar}}
      {{#o-toolbar-tools}}
        <h2>Basic Usage</h2>
        <span class="flex"></span>
        {{#o-button onClick=(action "toggle" "showSourceCode") iconButton=true}}
          {{o-icon icon="code"}}
          {{#o-tooltip}}
            {{if showSourceCode "Hide" "Show"}} code
          {{/o-tooltip}}
        {{/o-button}}
      {{/o-toolbar-tools}}
    {{/o-toolbar}}

    <div class="doc-code-example {{if showSourceCode 'is-visible'}}">
      {{code-snippet name="tooltip.hbs"}}
    </div>

    <div class="doc-content-example">

      {{#o-card-content}}
        <p>
          You can render tooltips using the o-tooltip component. This component
          will attach to the immediate parent element and use it for positioning.
        </p>

        <p>
          You can control the position of you tooltip using the
          <code>position</code> property which can be one of <code>bottom</code> (default),
          <code>top</code>, <code>left</code> or <code>right</code>. Try it:
        </p>

        <div class="layout-row layout-align-space-around-center md-padding">
          {{! BEGIN-SNIPPET tooltip }}
          {{#o-button raised=true}}
            A button
            {{#o-tooltip position=position}}
              Hey! I'm a tooltip. Çup?
            {{/o-tooltip}}
          {{/o-button}}

          {{#o-button iconButton=true raised=true}}
            {{o-icon "create"}}
            {{#o-tooltip position=position}}
              Create
            {{/o-tooltip}}
          {{/o-button}}

          {{#o-button fab=true raised=true accent=true}}
            {{o-icon "delete"}}
            {{#o-tooltip position=position}}
              Delete
            {{/o-tooltip}}
          {{/o-button}}

          <div>
            {{#o-icon "info"}}
              {{#o-tooltip position=position}}
                Icon tooltip
              {{/o-tooltip}}
            {{/o-icon}}
          </div>
          {{! END-SNIPPET tooltip }}
        </div>

        {{#o-radio-group groupValue=position onChange=(action (mut position)) as |group|}}
          {{#group.radio value="bottom"}}
            Bottom
          {{/group.radio}}
          {{#group.radio value="top"}}
            Top
          {{/group.radio}}
          {{#group.radio value="left"}}
            Left
          {{/group.radio}}
          {{#group.radio value="right"}}
            Right
          {{/group.radio}}
        {{/o-radio-group}}

        {{o-api
          (p-section
            (p-row "zIndex" "number" "Controls the z-index of the tooltip. By default it is 100.")
            (p-row "position" "string" "Controls the position of the tooltip. Use one of `bottom` (default), `top`, `left` or `right`")
            (p-row "parent" "jQuery object, element or selector" "Existing element where the tooltip will be rendered. Defaults to the global o-wormhole.")
            (p-row "attachTo" "jQuery object, element or selector" "Existing element that the tooltip will use to position itself. Defaults to the immediate parent element of the tooltip.")
          )
        }}

      {{/o-card-content}}
    </div>
  {{/o-card}}
{{/doc-content}}
