{{page-toolbar pageTitle="Toolbar" isDemo=true}}

{{#doc-content}}
  {{! BEGIN-SNIPPET toolbar }}
  {{! without contextual components }}
  {{#o-toolbar}}
    {{#o-toolbar-tools}}
      {{#o-button iconButton=true}}
        {{o-icon "menu"}}
      {{/o-button}}
      <h2>
        Toolbar with Icon Buttons
      </h2>
      <span class="flex"></span>
      {{#o-button iconButton=true}}
        {{o-icon "favorite"}}
      {{/o-button}}
      {{#o-button iconButton=true}}
        {{o-icon "more_vert"}}
      {{/o-button}}
    {{/o-toolbar-tools}}
  {{/o-toolbar}}

  <br>
  {{! with contextual components }}
  {{#o-toolbar as |toolbar|}}
     {{#toolbar.tools}}
       {{#o-button}}
         Go Back
       {{/o-button}}
       <h2>Toolbar with Standard Buttons</h2>
       <span class="flex"></span>
       {{#o-button raised=true}}
         Learn More
       {{/o-button}}
       {{#o-button mini=true aria-label="Favorite"}}
        {{o-icon "favorite"}}
       {{/o-button}}
     {{/toolbar.tools}}
   {{/o-toolbar}}

  <br>

  {{#o-toolbar tall=true accent=true}}
    {{#o-toolbar-tools}}
      <h2>Toolbar: tall=true, accent=true</h2>
    {{/o-toolbar-tools}}
  {{/o-toolbar}}

  <br>

  {{#o-toolbar tall=true warn=true}}
    <span class="flex"></span>
    {{#o-toolbar-tools}}
      <h2>Toolbar: tall with actions pin to the bottom (tall=true warn=true)</h2>
    {{/o-toolbar-tools}}
  {{/o-toolbar}}
  {{! END-SNIPPET }}

  <h3>Template</h3>
  {{code-snippet name="toolbar.hbs"}}

{{/doc-content}}
