{{#o-toolbar class="md-whiteframe-1dp page-main-toolbar" as |toolbar|}}
  {{#toolbar.tools}}
    {{#o-sidenav-toggle as |toggleAction|}}
      {{#o-button class="hide-gt-sm" onClick=(action toggleAction) iconButton=true}}
        {{o-icon "menu"}}
      {{/o-button}}
    {{/o-sidenav-toggle}}
    <h2>
      {{#if isDemo}}
        Components {{o-icon "chevron-right"}}
      {{else if isLayout}}
        Layout {{o-icon "chevron-right"}}
      {{/if}}
      {{pageTitle}}
      {{#if isWIP}}
        {{o-icon "warning" title="Not updated yet."}}
      {{/if}}
    </h2>
  {{/toolbar.tools}}
{{/o-toolbar}}
